html,body {
    background-image: url("Image/image home/background.jpg");
    font-family: 'Sigmar One', cursive;
    color:white;
    box-sizing:border-box;
    height:100%;
    width:100%;
    padding:10px;
    margin-bottom: 10px;

}
.container{
    padding:10px;
    display:grid;
    grid-gap:5px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,auto)50px;
}

.navbar{
    grid-row:1;
    grid-column:1;
    display:flex;
    flex:1;
    padding:0;
    margin:0;
    justify-content: center;
    flex-wrap:wrap;
    border-radius:15px;       
}

.navbar > li{  
    list-style-type:none;
    border:solid 2px white;
    margin:2px;
    border-radius:15px;   
}

.navbar > li a{
    color:white;
    display: block;
    padding:5px;
    text-decoration: none;
    text-align: center;
}

.navbar > li a:hover{
    background-color:white;
    color:black;
    border-radius: 15px;
}

.header{
    grid-row: 2;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    text-justify: center;
    Border:solid 2px white;
}

.main{
    grid-row:3/7 ;
    font-size:medium;
    padding:20px; 
    border:solid 2px white;
    text-align: center;
    color:black;
    background-color:hsla(0, 0%, 100%, 0.4);
}

.links{
    text-align:start;
    list-style-type:none;
}
.links >li > a{
    display:block;
    border:solid 1px black;
    text-decoration: none;
    background-color:hsla(0, 0%, 100%, 0.7);
    color:black;
}
.links > li >a:hover{
    Background-color:black;
    color:white;
}
.lose-links{
    color:black;
}
iframe{  
    display: block;
    margin-left:auto;
    margin-right:auto;
    height:300px;
    width:100%;
}

.images{
    height:250px;
    Width:80%;
    Border-radius:25%;
}

.form{
    text-align:start;
}
.aside{
    grid-row:7/10;
    display:flex;
    justify-content: space-evenly;
    border:solid 2px white;
    background-color:hsla(0, 0%, 100%, 0.3);
    
}
.aside > div{
    justify-self: center;
    align-self: center;
}
.img-round{
    border-radius:50%;
}


.footer{
    grid-row:10;
    margin-bottom:1px;
    border:solid 2px white;
    text-align: end;
}





@media (min-width: 768px){
    .container{
        grid-template-columns: repeat(10,1fr);
        grid-template-rows: 100px repeat(3,auto) 30px;
    }
    .navbar{
        grid-column:1 ;
        grid-row: 1/4 ;
        flex-direction:column;
    }
    
    .header{
        grid-column:2/-1;
        grid-row:1;

    }
    
    .main{
        font-size: large;
        grid-column:2/-1;
        grid-row:2/4;
    }

    iframe{
        height:400px;
        width:90%;
    }
    .images{
        height:300px;
        width:80%;
        
    }
    
    .aside{
        grid-column:2/-1;
        grid-row: 4;
        
    }
    
    .footer{
        grid-column: 2/-1;
        grid-row: 5;
        
    }   
}
@media (min-width: 1024px){
    .container{
        grid-template-columns: repeat(10,1fr);
        grid-template-rows: 100px repeat(3,auto) 50px;
    }
    .navbar{
        grid-column:1 ;
        grid-row: 1/6 ;
     
    }

    .header{
        grid-column:2/10;
        grid-row: 1 ;
       
    }
    
    .main{
        grid-column:2/10;
        grid-row:2/5;
        font-size:x-large 
    }

    iframe{ 
        height:500px;
    }
    .images{
        height:400px;
        Width:80%;
    }
    .aside{
        grid-column:10;
        grid-row: 1/5;
        flex-direction:column;
        overflow: hidden;
        justify-content: flex-end;
        padding:0;
        margin:0;

        
       
    }
    
    .footer{
        grid-column:2/-1;
        grid-row: 5;
        
    }   
}